.summer_stories {
  margin-top: 108px;
  margin-bottom: 85px;
  margin-left: 6%;
  margin-right: 6%;
}

.story_item {
  /* flex: 1; */
  z-index: 99;
}

.story_item__image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 100%;
  height: 26.302vw;
}

.story_item__info {
  background: #FFFFFF;
  box-shadow: 0px 4px 43px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  padding: 26px 39px 40px;
}

.story_item__info__pic {
  background: #D9D9D9;
  border-radius: 50%;

  width: 69px;
  height: 69px;
}

.story_item__info__block {
  margin-left: 26px;
}

.story_item__info__block__title {
  color: #626262;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.story_item__info__block__description {
  color: #9E9E9E;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.vectorBg5 svg {
  width: calc((464/1920)*100vw);
  height: calc((754/1920)*100vw);
  margin-left: 70.1rem;
  margin-bottom: -41rem;
  margin-top: -5.6rem;
}

.vectorBg6 svg {
  width: calc((1793/1920)*100vw);
  height: calc((386/1920)*100vw);
  margin-top: -20rem;
  margin-left: 8rem;
}

.vectorBg7 svg {
  width: calc((1899/1920)*100vw);
  height: calc((12/1920)*100vw);

}

.videoslider {
  flex-direction: row;
  /* margin: 0rem 0 3rem; */
}

.AwesomeSlider1 {
  padding-bottom: 1% !important;
}

.awssld__container {
  padding-bottom: 40% !important;
}

.videoslider .vidtxt1 {
  color: #878787;
  width: 315px;
  height: 244px;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
}

.videoslider .vidtxt2 {
  color: #5E70B0;
  width: 308px;
  height: 58px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-top: 4rem;
}

.videoslider .experts {
  display: block;
  position: absolute;
  width: 556px;
  height: 76px;
  top: 50%;
  left: 55%;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 53px;
  line-height: 109%;
  /* or 62px */

  text-align: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  z-index: 1;
  color: #FFFFFF;
}


.videosliderInnerDiv .experts_mobile {
  display: none;
}


.desktopImg {
  display: block !important;
} 

.mobileImg {
  display: none !important;
}


@media only screen and (max-width: 1536px) {
  .vectorBg5 svg {
    width: calc((464/1920)*100vw);
    height: calc((754/1920)*100vw);
    margin-left: 57rem;
    margin-bottom: -40rem;
    margin-top: -4.8rem;
  }

  .vectorBg6 svg {
    width: calc((1741/1920)*100vw);
    height: calc((386/1920)*100vw);
    margin-left: 7.8rem;
    margin-top: -17rem;
  }

  .vectorBg7 svg {
    width: calc((1899/1920)*100vw);
    height: calc((12/1920)*100vw);

  }
}

@media only screen and (max-width: 1200px) {
  .vectorBg5 svg {
    margin-left: 45rem;
    margin-top: -3.8rem;
  }

  .SummerStories {
    margin-top: 18rem;
  }

  .vectorBg6 svg {
    width: calc((1718/1920)*100vw);
    margin-top: -14rem;
  }
}

@media only screen and (max-width: 1024px) {

  .SummerStories {
    margin-top: 6rem;
  }

  .videoslider .experts {
    width: 510px;
    top: 45%;
    left: 44%;
    font-size: 40px;
  }

  .videoslider .vidtxt2 {
    margin-top: 0px;
  }

  .story_item__info__block__title {
    font-size: 16px;
    line-height: 20px;
  }

  .story_item__info__block__description {
    font-size: 14px;
    line-height: 20px;
    padding-top: 8px;
  }

  .story_item__info {
    padding: 20px 15px 20px;
  }

}

@media only screen and (max-width: 992px) {
  .videoslider .experts {
    width: 275px;
    top: 45%;
    left: 53%;
    font-size: 25px;
  }

  .videoslider .vidtxt1 {
    font-size: 18px;
    height: 185px;
  }
}

@media only screen and (max-width: 768px) {
  .vectorBg5 svg {
    display: none;
  }

  .vectorBg6 svg {
    display: none;
  }

  .vectorBg7 svg {
    display: none;
  }

  .summer_stories {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .videoslider {
    flex-direction: column !important;
    width: 100%;
  }

  .videoslider .vidtxt1,
  .vidtxt2 {
    width: auto !important;
    height: auto !important;
  }

  .videoslider img {
    margin-bottom: 2rem !important;
  }

  .story_item__info__block__title {
    font-weight: 300;
    font-size: 15px;
    line-height: 12px;
  }

  .story_item__info__block__description {
    font-size: 12px;
    line-height: 12px;
    padding-top: 8px;
  }

  .story_item__info {
    padding: 20px 15px 20px;
  }

  .story_item__info__block {
    margin-left: 16px;
  }

  .story_item__info__pic {
    width: 50px;
    height: 50px;
  }

  .summery_begin_div {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
  }

  .videoSliderImgDiv img {
    height: 671px !important;
    margin-bottom: 0px !important;
    object-fit: cover;
    position: relative;
    width: 100% !important;
  }

  .videoslider .experts {
    display: none;
  }

  .videoslider .vidtxt1 {
    width: 76% !important;
    text-align: center;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0px;
    font-size: 20px;
  }

  .awssId_section div {
    padding-top: 0px !important;
  }

  .awssId_section .videosliderInnerDiv {
    position: absolute;
    bottom: -42%;
    padding-top: 94% !important;
    z-index: 99;
    padding-bottom: 20px;
    background: linear-gradient(11.87deg, #232323 40.07%, rgba(35, 35, 35, 0.87) 45.68%, rgba(34, 34, 34, 0) 62.32%);
  }

  .videoslider {
    position: relative;
    flex-direction: column-reverse !important;
  }

  .videosliderInnerDiv .experts_mobile {
    display: block;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 33px;
    color: #FFFFFF;
  }

  .awssId_section {
    height: 960px;
  }

  .videoslider .vidtxt2 {
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #F7F6FF;
    margin: 37px 0px 127px;
    width: 196px !important;
  }

  .vidtxt1 q {
    font-size: 14px;
    line-height: 21px;
  }

  .SummerStories {
    margin-top: 18rem;
  }

}

@media only screen and (max-width: 640px) {
  .SummerStories {
    margin-top: 15rem;
  }

  .desktopImg {
    display: none !important;
  }

  .mobileImg {
    display: block !important;
  }

  .summer_stories {
    margin: -34px 0px 50px;
    gap: 13px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .story_item__image {
    height: 147px;
    border-radius: 5px 5px 0px 0px;
  }

  .story_item__info {
    padding: 7px 6px 11px;
  }

  .story_item__info__pic {
    width: 20.89px;
    height: 20.89px;
  }

  .story_item__info__block {
    margin-left: 7px;
  }

  .story_item__info__block__title {
    font-size: 11px;
    line-height: 10px;
  }

  .story_item__info__block__description {
    display: none;
  }

  .summery_begin_Sub_title {
    margin-top: 35px !important;
    font-size: 24px !important;
    line-height: 130.29% !important;
  }

  .summery_begin_div {
    margin-top: 99px !important;
    margin-bottom: 74px !important;
  }
}


@media only screen and (max-width: 420px) {

  .awssId_section {
    height: 653px;
  }

  .awssId_section .videosliderInnerDiv {
    bottom: -61%;
  }

  .story_item__info__pic {
    width: 18px;
    height: 18px;
  }

  .story_item__info__block__title {
    font-size: 8px;
    line-height: 10px;
  }

  .videoSliderImgDiv img {
    height: 400px !important;
  }

  .videoslider .vidtxt1 {
    width: 95% !important;
  }

  .videosliderInnerDiv .experts_mobile {
    font-size: 28px;
  }

}