.topSection {
  border-top: 1px solid #6A83DB;
  padding-top: 4%;
  padding-bottom: 10%;
}

.topSection2 {
  border-top: 1px solid #EAB755;
  padding-top: 4%;
  padding-bottom: 10%;
}

.infoBlockSection1 {
  padding-bottom: 84px;
}

.flavourWheel {
  margin: 25px 0;
  text-align: center;
}

.chart {
  background: linear-gradient(163.45deg, #FAE7FA 8.84%, #FFF7EA 132.51%);
  /* transform: matrix(1, 0, 0, -1, 0, 0); */
  width: 862px;
  height: 854px;
  left: 936.7px;
  top: 2878px;
}


.flavourWheelInfo {
  margin: 39.5% 0;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .topSection {
    padding-bottom: 0px;
  }

  .topSection {
    border-top: 0px;
  }
}